*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-body h1{
    position: absolute;
    top: 7px;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 42px;
    border-bottom: 2px solid white;
    padding: 3.5px;
}
.content-body{
    background-color: #333;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-calculator{
    width: 400px;
    height: 450px;
    background-color: #aaaaaa;
    border-radius: 10px;
    box-shadow: 2px 1px 29px 6px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 85px;
    grid-gap: 20px;
}
.screen{
    background-color: #333;
    border-radius: 10px;
    color: white;
    padding: 15px;
    grid-column: 1 / 5;
}
.screen input{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    font-size: 50px;
    width: 100%;
}
.btn-cal{
    background-color: white;
}
.btn-cal-radius{
    border-radius: 10px;
}
.btn-cal input{
    border: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    color: #666;
    font-size: 35px;
}
.btn-cal .equal{
    background-color: #fffb88;
}
.btn-cal .clean{
    background-color: #98f8ab;
}
.btn-cal :hover{
    transition-duration: 0.4s;
    background-color: tomato;
    color: white;
}
.btn-clean :hover{
    transition-duration: 0.4s;
    background-color: #66f789;
    color: white;
}
.btn-equal :hover{
    transition-duration: 0.4s;
    background-color: #fffb59;
    color: black;
}